{% extends 'base.html.twig' %}

{% block title %}New сategory
{% endblock %}

{% block body %}
	<h1>Create new Category</h1>

	{{ include('category/_form.html.twig') }}

	<a href="{{ path('app_category_index') }}" class="btn btn-secondary me-2">back to list</a>
{% endblock %}
